/* Estilos específicos para la sección de contacto */
:host {
    display: block;
}

form input:focus,
form textarea:focus {
    box-shadow: 0 0 0 4px rgba(132, 204, 22, 0.1);
}

.text-gradient {
    background: linear-gradient(to right, #84CC16, #0F766E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}